@inherits DisplayEventsBase

@foreach (var eventItem in Events)
{
    <div class="col-md-3">
        
        <div class="card">
            <div class="card-body">
                <a href="/EventDetails/@eventItem.Id"><h5 class="card-title">@eventItem.Name</h5></a>
                <p class="card-footer">Local: @eventItem.Localization</p>
                <p class="card-footer">@eventItem.Date</p>
            </div>
        </div>
    </div>
}