@page "/"
@inherits EventsBase


@if(Events == null) {
    <h3>Loading Events...</h3>
} else {
    <h3>Events</h3>
    var eventsCount = Events.Count();

    if(eventsCount > 0) {
        @foreach (var eventGroup in GetGroupedEventsByCategory())
        {
            <h4>@GetCategoryName(eventGroup)</h4>
            <div class="row mt-3">
                <DisplayEvents Events="@eventGroup"/>
            </div>
            <hr class="mb-3"/>
        }
    } else {
        <h3>No events found</h3>
    }
}